.logo {
  font-family: "Raleway", sans-serif;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.footer .logo {
  width: 115px;
  height: 24px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
